.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

Footer {
  background-color: darkblue;
  color: white;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 30px;
  display: block;
  text-align:center;
}

Header {
  background-color: darkblue;
  font-size: 4em;
  color: white;
  top: 0px;
  width: 100vw;
  display: block;
  text-align:center;
  margin-bottom: 30px;
}

.pink {
  background-color: pink;
  width: 300px;
  height: 150px;
  clip-path: polygon(13% 46%, 25% 20%, 70% 19%, 85% 45%, 100% 48%, 100% 75%, 0 76%, 0 49%);
}

.red {
  background-color: red;
  width: 300px;
  height: 150px;
  clip-path: polygon(13% 46%, 25% 20%, 70% 19%, 85% 45%, 100% 48%, 100% 75%, 0 76%, 0 49%);

}

.silver {
  background-color: silver;
  width: 300px;
  height: 150px;
  clip-path: polygon(13% 46%, 25% 20%, 70% 19%, 85% 45%, 100% 48%, 100% 75%, 0 76%, 0 49%);

}


.Tires {
  display: flex;
  flex-direction: row;
}

.steel {
  background-color: rgb(116, 116, 116);
  margin-left: 30px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.plastic {
  background-color: rgb(48, 232, 238);
  margin-left: 30px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

/* .container {
  display: flex;
  text-align:center;
  flex-direction: column;
  justify-content: center;
  align-content: center;  
} */